/VsBackground/obj
/VsBackground/bin
/packages
*.suo
/VsTranslator/obj
/VsTranslator/bin
/VsTranslatorTest/obj/Debug
/VsTranslatorTest/bin/Debug
*.user
/temp/ConsoleApplication2/ConsoleApplication2/obj
/temp/ConsoleApplication2/ConsoleApplication3/obj
/VsTranslator/*.user
